.search-bar-wrapper {
	position: relative;
}

.search-bar-input {
	width: 100%;
	border: 2px solid #dae5ee;
	border-radius: 4px;
	height: 37px;
	padding: 0 0 0 10px;
	background: #fff;
}

.search-bar-close {
	position: absolute;
	top: 12px;
	color: #dae5ee;
	z-index: 1001;
	font-size: 16px;
}