<div class="search-wrapper">
    <div class="search-bar-wrapper">
        <input value="{{term}}" on-keyup="search" type="text" id="search-bar-input" placeholder="Search OpenStack" />
        <i class="fa fa-times search-bar-close" on-click="clear"></i>
    </div>
    <div class="search-suggestions">
        <div class="results">
            {{#results}}
            <a href="{{link}}" class="result-item" >
                <span class="result-heading"> {{{title}}} </span>
                <br/>
                <span class="result-detail"> {{{detail}}} </span>
            </a>
            {{/}}
        </div>
    </div>

    <div class="search-results">
        <div class="overlay"></div>
        <div class="container">
            <!-- HEADER -->
            <div class="header-wrapper">
                <section class="header st-ui-header">
                    <form>
                        <input value="{{term}}" type="text" placeholder="Search OpenStack" id="search-popup-input" >
                    </form>
                    <span class="search-icon"><i class="fa fa-search"></i></span>
                    <a class="close-icon" on-click="closePopup"><i class="fa fa-times"></i></a>
                </section>
            </div>

            <!-- PRIMARY CONTENT -->
            <div>
                <section class="suggestions-wrapper" data-st-target-element="#st-overlay-search-input" data-st-active-query-class="active" style="display: none;">
                    <span class="heading">suggested results</span>
                    <div class="suggestions">
                        {{#results}}
                        <a href="{{link}}" class="result-item" >
                            <span class="result-heading"> {{{title}}} </span>
                            <br/>
                            <span class="result-detail"> {{{detail}}} </span>
                        </a>
                        {{/}}
                    </div>
                </section>

                <section class="results-wrapper">
                    <div class="results" style="display: block;">
                        {{#results}}
                        <a href="{{link}}" class="result-item" >
                            <span class="result-heading"> {{{title}}} </span>
                            <br/>
                            <span class="result-detail"> {{{detail}}} </span>
                        </a>
                        {{/}}
                    </div>
                </section>
            </div>


            <!-- FOOTER -->
            <div class="footer-wrapper">
                <section class="footer">
                    <span class="summary">
                        <div>
                            Showing <strong>{{fromResult}}</strong>–<strong>{{toResult}}</strong> of <strong>{{total}}</strong>
                            <span class="st-ui-search-summary-query"> for “{{term}}” </span>

                        </div>
                    </span>
                    <span class="pagination">
                        <div>
                            {{#each pagesToShow }}
                                <a class="page-link {{# this == page}} active {{/}}" on-click="['changePage', this]" href="#">{{ this }}</a>
                            {{/each}}
                            {{# totalPages > 5}}
                            <a class="page-link next" href="#">
                              next <span class="right-arrow"> > </span>
                            </a>
                            {{/}}
                        </div>
                    </span>
                </section>
            </div>
        </div>
    </div>
</div>
