<div class="ossw-search-wrapper">
    <div class="ossw-search-bar-wrapper">
        <input value="{{term}}" on-keyup="search" type="text" id="search-bar-input" placeholder="Search OpenStack" />
        <i class="fa fa-times ossw-search-bar-close" on-click="clear"></i>
    </div>
    <div class="ossw-search-suggestions">
        <div class="ossw-results">
            {{#suggestions}}
            <a href="{{link}}" class="ossw-result-item" >
                <div class="ossw-result-heading"> {{{title}}} </div>
            </a>
            {{/}}
        </div>
    </div>

    <div class="ossw-search-results">
        <div class="ossw-overlay"></div>
        <div class="ossw-container">
            <!-- HEADER -->
            <div class="ossw-header-wrapper">
                <section class="ossw-header">
                    <input value="{{term}}" on-keyup="searchPopup" type="text" placeholder="Search OpenStack" id="search-popup-input" >
                    <span class="ossw-search-icon"><i class="fa fa-search"></i></span>
                    <a class="ossw-close-icon" on-click="closePopup"><i class="fa fa-times"></i></a>
                </section>
            </div>

            <!-- PRIMARY CONTENT -->
            <div>
                <section class="ossw-suggestions-wrapper" style="display: none;">
                    <div class="ossw-heading">suggested results</div>
                    <div class="ossw-suggestions">
                        {{#suggestions}}
                        <a href="{{link}}" class="ossw-result-item" >
                            <div class="ossw-result-heading"> {{{title}}} </div>
                        </a>
                        {{/}}
                    </div>
                </section>

                <section class="ossw-results-wrapper">
                    <div class="ossw-results" style="display: block;">
                        {{#results}}
                        <a href="{{link}}" class="ossw-result-item" >
                            <div class="ossw-result-heading"> {{{title}}} </div>
                            <div class="ossw-result-detail"> {{{detail}}} </div>
                        </a>
                        {{/}}
                    </div>
                </section>
            </div>


            <!-- FOOTER -->
            <div class="ossw-footer-wrapper">
                <section class="ossw-footer">
                    {{#if results.length}}
                    <span class="ossw-summary">
                        <div>
                            Showing <strong>{{fromResult}}</strong>–<strong>{{toResult}}</strong> of <strong>{{total}}</strong>
                            <span class="ossw-summary-query"> for “{{term}}” </span>

                        </div>
                    </span>
                    <span class="ossw-pagination">
                        <div>
                            <a on-click="['changePage', page - 1]" class="ossw-page-link next" href="#">
                              <span class="ossw-right-arrow"> &lt; </span>
                            </a>
                            {{#each pagesToShow }}
                                <a class="ossw-page-link {{# this == page}} ossw-active {{/}}" on-click="['changePage', this]" href="#">{{ this }}</a>
                            {{/each}}
                            <a on-click="['changePage', page + 1]" class="ossw-page-link next" href="#">
                              <span class="ossw-right-arrow"> &gt; </span>
                            </a>
                        </div>
                    </span>
                    {{ else }}
                    <span class="ossw-summary">
                        <div>No results found for “{{term}}”</div>
                    </span>
                    {{/if}}
                </section>
            </div>
        </div>
    </div>
</div>
